# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# top-most EditorConfig file
root = true

# all files
[*]
# Indentation of 2 spaces
indent_style = space
indent_size = 2
# Unix-style newlines with a newline ending
end_of_line = lf
# Set default charset
charset = utf-8
# Remove whitespaces at the end of a line
trim_trailing_whitespace = true
# Add a new line at the end of the file
insert_final_newline = true

# .md files
[*.md]
trim_trailing_whitespace = false
