node_modules
test_out/
out/
.DS_Store
coverage/**/*
npm-debug.log*
dist
karma_out/
.idea/
lib/
unit.xml
lerna-debug.log
.project
orient.log
public/dist
.npmrc
/.metadata/
coverage
target
.tmp-globalize-webpack
.vscode/
*.log
.git
.terraform
.venv
__pycache__
