**/Chart.yaml linguist-language=Kubernetes linguist-vendored=false
**/deployment.yaml linguist-language=Kubernetes linguist-vendored=false
**/middleware-graphql-tester.yaml linguist-language=Kubernetes linguist-vendored=false
**/service.yaml linguist-language=Kubernetes linguist-vendored=false
**/values.yaml linguist-language=Kubernetes linguist-vendored=false
*.1 linguist-language=1 linguist-vendored=false
*.apache2 linguist-language=Apache2 linguist-vendored=false
*.babelrc linguist-language=Babelrc linguist-vendored=false
*.bak linguist-language=Bak linguist-vendored=false
*.bnf linguist-language=Bnf linguist-vendored=false
*.bowerrc linguist-language=Bowerrc linguist-vendored=false
*.bsd linguist-language=Bsd linguist-vendored=false
*.cc linguist-language=Cc linguist-vendored=false
*.cnf linguist-language=Cnf linguist-vendored=false
*.coffee linguist-language=Coffee linguist-vendored=false
*.conf linguist-language=Conf linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.d linguist-language=D linguist-vendored=false
*.def linguist-language=Def linguist-vendored=false
*.dist_jshintrc linguist-language=Dist_jshintrc linguist-vendored=false
*.dockerignore linguist-language=Docker linguist-vendored=false
*.docs linguist-language=Docs linguist-vendored=false
*.editorconfig linguist-language=Editorconfig linguist-vendored=false
*.ejs linguist-language=Ejs linguist-vendored=false
*.el linguist-language=El linguist-vendored=false
*.env linguist-language=Env linguist-vendored=false
*.eot linguist-language=Eot linguist-vendored=false
*.eslintignore linguist-language=Eslintignore linguist-vendored=false
*.eslintrc linguist-language=Eslintrc linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.flow linguist-language=Flow linguist-vendored=false
*.flowconfig linguist-language=Flowconfig linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitattributes linguist-language=Git linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.gitkeep linguist-language=Gitkeep linguist-vendored=false
*.gitmodules linguist-language=Gitmodules linguist-vendored=false
*.gyp linguist-language=Gyp linguist-vendored=false
*.gypi linguist-language=Gypi linguist-vendored=false
*.gz linguist-language=Gz linguist-vendored=false
*.h linguist-language=H linguist-vendored=false
*.handlebars linguist-language=Handlebars linguist-vendored=false
*.helmignore linguist-language=Helmignore linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.ico linguist-language=Ico linguist-vendored=false
*.iml linguist-language=Iml linguist-vendored=false
*.in linguist-language=In linguist-vendored=false
*.info linguist-language=Info linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.jscsrc linguist-language=Jscsrc linguist-vendored=false
*.jshintignore linguist-language=Jshintignore linguist-vendored=false
*.jshintrc linguist-language=Jshintrc linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.jst linguist-language=Jst linguist-vendored=false
*.less linguist-language=Less linguist-vendored=false
*.license linguist-language=License linguist-vendored=false
*.lock linguist-language=Lock linguist-vendored=false
*.log linguist-language=Log linguist-vendored=false
*.ls linguist-language=Ls linguist-vendored=false
*.makefile linguist-language=Makefile linguist-vendored=false
*.map linguist-language=Map linguist-vendored=false
*.markdown linguist-language=Markdown linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.microscanner linguist-language=Microscanner linguist-vendored=false
*.mit linguist-language=Mit linguist-vendored=false
*.mjs linguist-language=Mjs linguist-vendored=false
*.mk linguist-language=Mk linguist-vendored=false
*.mkd linguist-language=Mkd linguist-vendored=false
*.nix linguist-language=Nix linguist-vendored=false
*.node linguist-language=Node linguist-vendored=false
*.npmignore linguist-language=Npmignore linguist-vendored=false
*.nycrc linguist-language=Nycrc linguist-vendored=false
*.o linguist-language=O linguist-vendored=false
*.opts linguist-language=Opts linguist-vendored=false
*.orig linguist-language=Orig linguist-vendored=false
*.patch linguist-language=Patch linguist-vendored=false
*.pem linguist-language=PEM Key linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.prettierignore linguist-language=Prettierignore linguist-vendored=false
*.prettierrc linguist-language=Prettierrc linguist-vendored=false
*.properties linguist-language=Properties linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.sonar_lock linguist-language=Sonar_lock linguist-vendored=false
*.srl linguist-language=Srl linguist-vendored=false
*.svg linguist-language=Svg linguist-vendored=false
*.targ linguist-language=Targ linguist-vendored=false
*.template linguist-language=Template linguist-vendored=false
*.tester linguist-language=Tester linguist-vendored=false
*.tm_properties linguist-language=Tm_properties linguist-vendored=false
*.tpl linguist-language=Template File linguist-vendored=false
*.ts linguist-language=TypeScript linguist-vendored=false
*.ttf linguist-language=Ttf linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.un~ linguist-language=Un~ linguist-vendored=false
*.woff linguist-language=Woff linguist-vendored=false
*.woff2 linguist-language=Woff2 linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
Dockerfile linguist-language=Docker linguist-vendored=false
